---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import About from "@/components/about.astro";
import Projects from "@/components/projects.astro";
import { Apply } from "@/components/apply";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

    <Layout>

<Hero />
<About />
<Projects />
      <Apply client:load />

</Layout>
	</body>
</html>
